const storage = require("../adapters/storage");
const logger = require("../../../lib/logger/logger")();

const {{.Operation}}Payload = {
    {{ range $key, $value := .ServicePayload}}{{$key}}: {{if eq "string" (printf "%T" $value)}}''{{else}}{{$value}}{{end}},
    {{end}} 
}


// {{.Operation}}...
// {{.ServiceDescription}}
const {{.Operation}} = async (context, payload = {{.Operation}}Payload) => {
  logger.info(`create user request ${context.requestId}`);
  const resp = await storage.{{.ServiceName}}.{{.Operation}}(context, payload);

  return resp;
};

module.exports = {{.Operation}};
