const createContext = require("../../../../../lib/context/context");
const logger = require("../../../../../lib/logger/logger");
const {{.Service}}Svc = require("../../../service/{{.Service}}")

const {{.Handler}} = async (req, res) => {
  const context = createContext(req)
  let id;
  try {
      resp = await {{.Service}}Svc(context, req.body)
  } catch (error) {
      logger.error(error)
  }

  return res.json(svcToResponse(resp))
}

const svcToResponse = (resp) => {
  // transform to response here

  return resp
}
module.exports = {{.Handler}};