package config

// Config holds config for the backed
// Add other config as required
type Config struct {
	AppName       string
	Debug         bool
	Addr          string
	ServerTimeout int //seconds
}

// New returns Config for the backend
// Load Envs here
func New() *Config {
	return &Config{
		AppName:       "{{.AppName}}",
		Debug:         true,
		ServerTimeout: 30,
		Addr:          ":8080",
	}
}
