const express = require("express");
const newLogger = require("./lib/logger/logger");
const requestId = require("./lib/middlewares/requestId/requestId");
const cors = require("cors");
const requestLogger = require("./lib/middlewares/logRequest/logRequest");

// import api routes here
// const apiAPI = require("./services/api/adapters/api/http/routes");
// const anotherAPI = require("./services/another/adapters/api/http/routes");

const app = express();

const appName = "{{.AppName}}";

app.use(express.json());
app.use(requestId);
app.use(cors());

const logger = newLogger(appName);

app.use(requestLogger(logger));

apiPort = process.env.API_PORT || 3000;

const connectDB = require("./lib/db/mongo");

connectDB().catch((err) => logger.error(err));

// Populate routes here
// app.use("/", apiAPI());
// app.use("/", anotherAPI());

app.listen(apiPort, () => {
  logger.info(`api started at ${apiPort}`);
});
