const createContext = require("../../../../../lib/context/context");
const logger = require("../../../../../lib/logger/logger")();
const {{.ServiceName}}Svc = require("../../../service/{{.ServiceName}}")
const { {{.ServiceName}}Payload } = require("../../../service/types")

// {{.HandlerName}}...
const {{.HandlerName}} = async (req, res) => {
  const context = createContext(req)
  try {
      const payload = {
        ...req.body, 
        ...req.params,
        ...req.query 
      }

      const resp = await {{.ServiceName}}Svc(context, {{.ServiceName}}Payload(payload))
      return res.json(svcToResponse(resp))
  } catch (error) {
      logger.error(error)
      res.status(error.httpStatusCode || 500).json({...error})
  }
}

const svcToResponse = (resp) => {
  // transform to response here

  return resp
}

module.exports = {{.HandlerName}};