const createContext = require("../../../../../lib/context/context");
const logger = require("../../../../../lib/logger/logger")();
const {{.OperationID}}Svc = require("../../../service/{{.OperationID}}")
const { {{.OperationID}}Payload } = require("../../../service/types")

// {{.HandlerName}}...
const {{.HandlerName}} = async (req, res) => {
  const context = createContext(req)
  try {
      const payload = {
        ...req.body, 
        ...req.params,
        ...req.query 
      }

      const resp = await {{.OperationID}}Svc(context, {{.OperationID}}Payload(payload))
      return res.status({{.HttpStatusCode}}).json(svcToResponse(resp))
  } catch (error) {
      logger.error(error)
      res.status(error.httpStatusCode || 500).json({...error})
  }
}

const svcToResponse = (resp) => {
  // transform to response here

  return resp
}

module.exports = {{.HandlerName}};