const express = require("express");
const router = express.Router();

{{- range $.HandlerImports}}
const {{.}} = require("./{{.}}");
{{- end}}

const registerRoutes = () => {

{{- range .Routes}}
  router.{{.Method}}("/", {{.Handler}});
{{- end}}

  return router;
};

module.exports = registerRoutes;