const mongoose = require("mongoose");

const schema = {
{{- range $key, $value := .EntitySchema}}
  {{$key}}: {{$value}},
{{- end}}
  updatedAt: {type: "Date", default: Date.now},
  createdAt: {type: "Date", default: Date.now}
}

const {{.Entity}} = mongoose.model("{{.Entity}}", new mongoose.Schema(schema));

