const storage = require("../adapters/storage");
const logger = require("../../../lib/logger/logger")();
const {{.Operation}}PayloadSchema = require("./types");

// {{.Operation}}...
// {{.ServiceDescription}}
const {{.Operation}} = async (context, payload = {{.Operation}}PayloadSchema) => {
  logger.info(`create user request ${context.requestId}`);
  const resp = await storage.{{.ServiceName}}.{{.Operation}}(context, payload);

  return resp;
};

module.exports = {{.Operation}};
