{{range .}}
exports.{{.Operation}}Payload = (payload = this.{{.Operation}}PayloadSchema) => {
  const errors = {};

{{ range $attribute, $index  := .Validation}}
  if (!payload.{{$attribute}}) {
    errors["{{$attribute}}"] = ValueRequired;
  }
{{end}}
  if (Object.keys(errors).length > 0) {
    throw new ValidationError("validation error", errors)
  }
  return {
    {{range $key, $value := .ServicePayload}}{{$key}}: payload.{{$key}},
    {{end}} 
  };
};
{{end}}
