package main

import (
	"context"
	"fmt"
	
	"{{.ProjectPath}}/config"
	"{{.LibDir}}/logger"
)

func main() {
	config := config.New()
	log := logger.NewLogger(&logger.LoggerConfig{
		AppName: config.AppName,
		Debug:   config.Debug,
	})
	
	ctx := context.Background()

	// handle panic
	defer func() {
		if e := recover(); e != nil {
			log.Fatal(ctx, fmt.Errorf("%+v", e))
		}
	}()
	
	engine, err := NewHTTPEngine(&Dependencies{
		Config: config,
		Logger: log,
	})
	
	if err != nil {
		panic(err)
	}
	
	serverStop := runHTTPServer(ctx, engine, config, log)
	listenForServerKill(ctx, log)
	
	defer serverStop()
}